body {
    background-color: #363434;
    font-family: Arial, Helvetica, sans-serif;
}

.appfont{
    font-family: Arial, Helvetica, sans-serif;
}

.buy{
    color : green;
}

.sell{
    color: red;
}